---
---

@import "_variables.scss";
@import "_vapor-lite.scss";

body {
  --bs-body-color: #32fbe2;
  --bs-secondary: #ea39b8;
}

#table-of-contents {
  margin-top: 1rem;

  & h3 {
    margin-bottom: 0.3em;
  }

  & ul, & ul ul {
    position: relative;
    top: unset!important;
    right: unset!important;
    padding-left: 1.3em;
  }

  ul {
    padding-left: 0;
  }

  & li {
    list-style-type: none;
  }
}

header {
  & .btn {
    display: block;
  }
}

a {
  color: inherit;
  text-decoration: underline;
}

strong {
  color: inherit;
}

ul {
  list-style-type: "— ";

  & ul {
    margin: 0;
  }
}

section {
  & li {
    & p {
      margin: 0;
    }
  }
}

video {
    max-width: 100%;
}

.yt-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

  & > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
