<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="autor" content="{{ site.github.owner_name }}">
    <meta name="description" content="{{ site.description | default: site.github.project_tagline }}">
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/custom.css" | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="text-secondary">{{ site.title | default: site.github.repository_name }}</h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p class="text-secondary">{{ site.description | default: site.github.project_tagline }}</p>

        <p class="view"><a href="{{ site.personal_site }}">Visita mi página web</a></p>


        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a target="_blank" href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
          <li><a target="_blank" href="{{ site.binder.binder_url }}">Run On <strong>Binder</strong></a></li>
          <li><a target="_blank" href="{{ site.docker.docker_url }}">Download On <strong>Docker Hub</strong></a></li>
        </ul>
        {% endif %}

        {% if site.show_slides %}
          <a class="btn btn-outline-primary" target="_blank" href="{{ "/assets/slides.pdf" | relative_url }}">Descargar <strong>diapositivas</strong></a>
        {% endif %}

        <div id="table-of-contents">
          <h3>Índice:</h3>
          {% include toc.html html=content h_min=2 %}
        </div>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        Creado por <a href="{{ site.personal_site }}">{{site.fullname}}</a>
        <p><small>Hosteado en GitHub Pages &mdash; Theme modified from <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>